body{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 4rem;
}
.dante{
    margin: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#title{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#image{
    width: 100%;
    height: 100%;
    border-radius:10px ;
}
.img.col{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.info_dante{
    text-align: justify;
    display: flex;
    font-size: smaller;
}
h2{
    text-align: center;
}
section div{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.DG{
    margin: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: auto;
    border-radius: 10px; 

}