.body{
    font-family:Arial, Helvetica, sans-serif;
}
.row > input{
    width:25%;
    margin:2rem;
    align-items:center;
    justify-content:center;

}
.principal .row p{
    margin-top:10px;
    margin-bottom:3px;
}
.enviar{
    display:block;
    position:relative;
    align-items:center;
    justify-content:center;
    left:auto;
    margin:auto;
    padding:0;
    width:50%;
}
.row > .col > .info {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 100%;
    background-color: white;
    border-radius: 0px 10px 0px 10px;
    text-align: justify;
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding:10px;
    margin: 10px 0px 10px 0px;
    width: 100%;
}
.container{
    background:linear-gradient(black,white);
}
h1{
    font:bold;
    text-align:center;
    color:white;
}
.alert {
    background-color:linen;
    font-family: 'Arial Rounded MT';
}
