body {
    background: linear-gradient(45deg,#000,#460707);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.main{
    margin-top: 6rem;
}
nav {
    position: fixed;
}
.nav-item .nav-link {
    left: 2rem;
    margin-left: 5px;
}
.nav-link {
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    margin-left: 5px;
    background-color:#fff;
}
.nav-link:hover {
    color:white;
    background-color:gray;
    border-color:black;
}
.image{
    width:70px;
    height:70px;
}
.image:hover{
    border: 5px solid #fff;
}

