body {
    background-color:lightgoldenrodyellow;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height:100vh;
    margin:0;
    justify-content:center;
    align-items:center;
    
}
#principal {
    background-color: lightgray;
    border-radius: 10px;
}
