body {
    background-color:linen;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height:100vh;
    margin:0;
    justify-content:center;
    align-items:center;
    
}
#principal {
    background-color: lightgray;
    border-radius: 10px;
}
nav {
    position: fixed;
}
.nav-link {
    border: 1px solid black;
    border-radius: 0px 10px 0px 10px;
    margin-left: 5px;
    background-color:linen;
}
.nav-item .nav-link {
    left: 2rem;
    margin-left: 5px;
    font-family:Arial,sans-serif;
}

.nav-link:hover {
    color:white;
    background-color:gray;
    border-color:black;
}
.inicio{
    width:40px;
    height:40px;
}
.inicio:hover{
    background-color:aliceblue;
    border:2px solid white;
}
.container{
    margin-top:5rem ;
}
.dev{
    width:40px;
    height:40px;
    margin-left: 5px ;
}
.dev:hover{
    border: 2px solid white;
}