{% extends 'base_demo.html' %}
{% block title %}{{super()}} - Documento Técnico{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/Demo_tecnico.css')}}">
</head>
<body>
    <main id="main-doc">
        <nav id="navbar">
            <header>Indice</header>
            <ul>
                <li><a class="nav-link" href="#¿Qué_es_JavaScript?">¿Qué es JavaScript?</a></li>
                <li><a class="nav-link" href="#Introducción">Introducción</a></li>
                <li><a class="nav-link" href="#Variables">Variables </a></li>
                <li><a class="nav-link" href="#Estructuras_de_control">Estructuras de control</a></li>
                <li><a class="nav-link" href="#Imprime_un_Hola_mundo">Imprime un Hola mundo</a></li>
                <li><a class="RM" href="/home">salir de demo</a></li>     
            </ul>
        </nav>
        <section class="main-section" id="¿Qué_es_JavaScript?">
            <header>¿Qué es JavaScript?</header>
            <p>JavaScript es un leguaje de programación que se utiliza en el desarollo web ya que es fácil de hacer animacioes o acciones que le den vida a los sitios web y se han mas llamativos visualmente</p>
            <p>para responder estas dudas haremos una pequeña explicación de lo que es este lenguaje cuales son la funciones de este encuanto a la programación web.</p>
        </section>
        <section class="main-section" id="Introducción">
            <header>Introducción</header>
            <p>
                JavaScript es un lenguaje de programación o de secuencias de comandos que te permite implementar funciones complejas en  páginas web.
            </p>
            <p>
                cada vez que una página web hace algo más que sentarse allí y mostrar información estática para que la veas, muestra oportunas actualizaciones de contenido, mapas interactivos, animación de Gráficos 2D/3D, desplazamiento de máquinas reproductoras de vídeo, etc.
            </p>
            <p>
                Es la tercera capa del pastel de las tecnologías web estándar, dos de las cuales (HTML y CSS) hemos cubierto con mucho más detalle en otras partes del Área de aprendizaje.
                <img src="https://developer.mozilla.org/es/docs/Learn/JavaScript/First_steps/What_is_JavaScript/cake.png">
            </p>
        </section>
        <section class="main-section" id="Variables">
            <header>Variables</header>
            <p>Las variables son la forma de asignar los datos o valores, que usara el lenguaje para realizar operaciones algunos de estos son:</p>
            <ul>
                <li>
                    Numeros
                </li>
                <li>String</li>
                <li>Booleanos</li>
            </ul>
        </section>
        <section class="main-section" id="Estructuras_de_control">
            <header>Estructuras de control</header>
            <p>
                Como sabemos los los lenguajes de programacion usan estructuras algunas de ellas son estructuras de ciclos:
                <ul>
                    <li><strong>for</strong><code>for ([expresion-inicial]; [condicion]; [expresion-final]){sentencias}</code></li>
                    <li>
                        <strong>While</strong><code>
                            while (condicion){
                            sentencias}
                        </code>
                    </li>
                    <li>
                        <strong>Do-while</strong><code>
                            do{
                            sentencia
                            }while (condición);
                        </code>
                    </li>
                </ul>
            <p>Otras estructuras de control son las que tiene una funcion de seleccion estas son:</p>
            <ul>
                <li>
                    <strong>If</strong>
                    <code>
                        If(condicion){
                        "instrucciones a seguir"
                        }
                        --------------------------
                    </code>
                </li>
                <li>
                    <strong>Swicht-Case</strong>
                    <code>
                        switch (expresión) {
                        case valor1:
                        //Declaraciones ejecutadas cuando el resultado de expresión coincide con el valor1
                        [break;]
                        case valor2:
                        //Declaraciones ejecutadas cuando el resultado de expresión coincide con el valor2
                        [break;]
                        ...
                        case valorN:
                        //Declaraciones ejecutadas cuando el resultado de expresión coincide con valorN
                        [break;]
                        default:
                        //Declaraciones ejecutadas cuando ninguno de los valores coincide con el valor de la expresión
                        [break;]
                        }
                    </code>
                </li>
            </ul>
            </p>
        </section>
        <section class="main-section" id="Imprime_un_Hola_mundo">
            <header>Imprime un Hola mundo</header>
            <p>Para hacer que el documento HTML </p>
            <code>document.write("Hola Mundo");</code>
        </section>
    </main>
</body>
{% endblock %}