{% extends 'Inicio.html' %}
{% block title %}{{super()}} - Homenaje{% endblock %}
{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/Demo_homenaje.css')}}">
{%endblock%}
{% block content %}
<main class="main">
    <div class="container">
    <h1 id="title">Dante</h1>
        <div class="dante row">
            <div class="img col">
                <img id="image" src="{{url_for('static', filename='image/Dante/g1.webp')}}" loading="lazy">  
            </div>
            <div class="col">
                <p class="info_dante">
                    El es mi gato "Dante" es la primer mascota que tuve, ha estado desde la preparatoria conmigo
                    
                </p>
                <p class="info_dante">
                    Aun recuerdo cuando mi abuelo lo trajo , el estaba muy asustado y por instinto al momento de
                    quererlo acariciar me mordió mi dedo indice , entendí que estaba demasiado asustado.
                    Estaba en un lugar desconocido, aun así se adapto muy bien 
                    (Le gusto la atención que le daba la familia :) ) 
                </p>
                <p class="info_dante">

                </p>
            </div>
            <div class="img col" >
                <img id="image" src="{{url_for('static',filename='image/Dante/g2.webp')}}" loading="lazy">
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    Algunos datos extras de el son:

                    <ul>
                        <li>Su cumpleaños el el 25 de marzo de 2015</li>
                        <li>Se enoja por todo y por nada</li>
                        <li>Es celoso</li>
                        <li>los sobres que mas le gustan son los whiskas</li>
                        <li>Actualmente tiene 9 años (a 06/08/2024)</li>
                    </ul>
                </p>
                <h2>Galería</h2>
                <section>
                    <div>
                        <img class="DG" src="{{url_for('static', filename='image/Dante/d1.webp')}}" alt="Dante 1">
                        <img class="DG" src="{{url_for('static', filename='image/Dante/d2.webp')}}" alt="Dante 2">
                        <img class="DG" src="{{url_for('static', filename='image/Dante/d3.webp')}}" alt="Dante 3">
                        <img class="DG" src="{{url_for('static', filename='image/Dante/d4.webp')}}" alt="Dante 4">
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock%}
